

.note-head p {
    font-size: 14px;
    margin-top: 25px;
    margin-right: 5px;;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#back-button , #edit-button {
    width: 40vw;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    background-color: #5e747f;
    font-family: 'Josefin Slab', serif;
    color: white;
}

#back-button:hover, #back-button:focus, #back-button:active, #edit-button:hover, #edit-button:focus, #edit-button:active {
    background-color: #8b2635 ;
}