.dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    color: white;
    border-top: solid #5e747f 10px;
    border-bottom: solid #5e747f 10px;
}

.dash h1 {
    font-size: 30px;
    margin: 10px;
    margin-left: 25px;
}

.dash p {
  font-size: 18px;
  margin-top: 25px;
  margin-right: 5px;
  font-family: 'Josefin Slab', serif;
}

.dash a:visited {
    color: white;
}