header {
    text-align: center;
    background-color: #8b2635;
    margin: 0px -3px 0px -3px;
    padding: 0px;
    color:white;
    border-bottom: #5e747f solid 20px;
    border-top: #5e747f solid 15px;
}

h1 {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 45px;
}

.hidden{
  display: none;
}

header a {
  text-decoration: none;
}

header p {
  font-size: 14px;
}