.starting-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
}


.starting-links h2 {
    color: #12100e;
    font-size: 20px;
}





