.starting-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 50px 50px;
    padding: 0px 20px 20px;
    border-radius: 10px;
}


.starting-links h2 {
    color: #12100e;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 35px;
}





