.button  {
    text-decoration: none;
    background-color: #5e747f;
    margin: 10px auto 10px auto;
    padding: 10px;
    font-size: 14px;
    color:white;
    width: 55vw;
    font-family: 'Josefin Slab', serif;
}

.button:visited {
    color:white;
}

.button:hover, .button:active, .button:focus {
    background-color: #8B2635;
    color: white;
}