.note-content {
    background-color: #e2e8ce;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 50px;
    font-family: 'Josefin Slab', serif;
    padding: 20px;
    border-radius: 10px;
    color: #12100e;
}