.form-field {
    color:#12100e;
    font-family: 'Josefin Slab', serif;
    margin: 15px;
    padding:4px;
}

.form-field input {
    width: 50vw;
    margin: 3px;
}

@media only all and (min-width: 700px){
    .container {
        width: 70vw;
        clear: both;
        margin: auto;
    }

    .container input {
        width: 100%;
        clear: both;
    }
}