.form-field {
    color:#12100e;
    font-family: 'Josefin Slab', serif;
    margin: 15px;
    padding:4px;
}

#register-form button {
    width: 40vw;
    font-size: 14px;
    padding: 15px 10px;
    border: solid #5e747f 3px;
    background-color: transparent;
    font-family: 'Josefin Slab', serif;
    color: #12100e;
}

#register-form button:hover, 
#register-form button:focus, 
#register-form button:active {
    background-color: #5e747f;
    color: white;
}